<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.exch22">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exchange22sportStokeExchangeAnalysis"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">
        <activity android:name="com.dev.exch22.Activity.Exchange22_TeamProvid"></activity>
        <activity android:name="com.dev.exch22.Activity.Exchange22_WebActivity" />
        <activity
            android:name="com.dev.exch22.Activity.Exchange22_Privacy_policy_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dev.exch22.Activity.Exchange22_Term_and_condition_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dev.exch22.Activity.Exchange22_Contact_us_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dev.exch22.Exchange22_MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dev.exch22.Activity.Exchange22_How_to_playMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dev.exch22.Activity.Exchange22_About_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dev.exch22.Activity.Exchange22_FeaturesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dev.exch22.Activity.Exchange22_Splash_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dev.exch22.Activity.Exchange22_LegalityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dev.exch22.Activity.Exchange22_Withdraw_Terms_Activity"
            android:screenOrientation="portrait" />
        <activity android:name="com.facebook.ads.AudienceNetworkActivity" android:hardwareAccelerated="true"/>
    </application>

</manifest>